h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

li {
    list-style-type: none;
  }

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;

  background-color: #333333;
}